.white-header {
    color: white
}
.bold {
    font-weight: bold;
}
.body {
    margin-top: 55px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1px;
    padding-bottom: 1em;
    border-radius: 10px;
    background-color: white;
}
#body {
    background-repeat: repeat;
    background-image: url(../img/background.jpg);
    background-size: cover;
    margin-top: -50px;
    margin-bottom: -10px;
    padding-bottom: 10px;
    padding-top: 50px;
}
.section {
    border: 1px solid #ddd;
    padding: 10px 15px;
}
.img-centre {
    margin: 10px;
    margin-left: auto;
    margin-right: auto
}