<div class="body col-md-10 col-md-offset-1" id='home'>
    <h1>Contact Me</h1>
    <div class="col-md-12">
        <p>
            <i class="fa fa-envelope"></i>
            <a href="mailto:jean1880@hotmail.com">jean1880@hotmail.com</a>
        </p>
        <p>
            <i class="fa fa-phone"></i>
            <a href="tel:17057377841">(705) 737-7841</a>
        </p>
        <p>
            <i class="fa fa-github"></i>
            <a href="https://github.com/jean1880">jean1880</a>
        </p>
        <p>
            <i class="fa fa-facebook"></i>
            <a href="https://www.facebook.com/jean1880">Jean-Luc Desroches</a>
        </p>
        <p>
            <i class="fa fa-google-plus"></i>
            <a href="https://plus.google.com/+JeanLucDesroches1880">Jean-Luc Desroches</a>
        </p>
    </div>

</div>