<div class="body col-md-12" id='home'>
    <h1>Contact Me</h1>
    <div class="col-md-6">
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        <div class="g-person" data-theme="dark" data-href="https://plus.google.com/+JeanLucDesroches1880" data-width="180"></div>
    </div>
    <div class="col-md-6">
        <p>Email: <a href="mailto:jean1880@hotmail.com">jean1880@hotmail.com</a></p>
        <p>Phone: <a href="tel:17057377841">(705) 737-7841</a></p>
        <p>GitHub Account: <a href="https://github.com/jean1880">jean1880</a></p>
        <p>Facebook: <a href="https://www.facebook.com/jean1880">Jean-Luc Desroches</a></p>
    </div>
    
</div>