<div class="body col-md-12" id='home'>
    <h1>About Me</h1>
    <p>Welcome to my website, this site is a personal portfolio to introduce you to some of my skills, and various projects which I have undertaken. Feel free to navigate to the contact page to direct any questions or queries that you might have, and I will respond as soon as I can.</p>
    <p>I am currently a student finishing my second year at Georgian College in Barrie, Ontario, in their Computer Programmer Analyst course, which teaches not only a wide variety of programming languages and their application in the field, but a strong foundation into project management, and software development life cycles.</p>
    <h1>Skills</h1>
    <div class="col-md-4">
        <h2><small>Server Side Languages:</small></h2>
        <ul class="list-group">
            <li class="list-group-item">PHP</li>
            <li class="list-group-item">Object Oriented PHP</li>
            <li class="list-group-item">Node.js</li>
            <li class="list-group-item">MySQL</li>
            <li class="list-group-item">MongoDB/NoSQL</li>
            <li class="list-group-item">DB2</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2><small>Front End Languages:</small></h2>
        <ul class="list-group">
            <li class="list-group-item">HTML5</li>
            <li class="list-group-item">CSS3</li>
            <li class="list-group-item">Angular.js</li>
            <li class="list-group-item">Backbone.js</li>
            <li class="list-group-item">Handlebars/Mustache Templating</li>
            <li class="list-group-item">Bootstrap</li>
            <li class="list-group-item">JQuery</li>
            <li class="list-group-item">Smarty templating</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2><small>OS Programming Languages:</small></h2>
        <ul class="list-group">
            <li class="list-group-item">Java</li>
            <li class="list-group-item">Python</li>
            <li class="list-group-item">C#</li>
            <li class="list-group-item">C++</li>
            <li class="list-group-item">Z/OS Mainframe Navigation</li>
        </ul>
    </div>
</div>
