<div  class="content col-md-12">
    <div id="center">
        <h1 class="white-header bold">Welcome!</h1>
        <div class="pulse_holder">
            <div class="pulse_marker">
                <div class="pulse_holder">
                    <div class="pulse_marker">
                        <div class="pulse_rays"><div class="pulse_rays"></div></div>
                    </div>
                </div>
                <div class="pulse_rays"><div class="pulse_rays"></div></div>
            </div>
        </div>
        <div id="logo-wrap">
            <img id="logo" src="img/logo300x300.png" alt="logo" />
        </div>
        <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" >
                <span class="sr-only">0% Complete</span>
            </div>
        </div>
    </div>
</div>
